*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(69, 71, 123, 0.7),rgba(0, 0, 0, 0.7)),url(./Img/amazon-message-center.svg);
    background-size: cover;
    position: relative;
    padding: 10, 0, 10, 0;
}

.banner-text{
    width: 85%;
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.banner-text h1{
    font-size: 110px;
    color:  hsl(32, 100%, 58%);
}
.banner-text1{
    width: 85%;
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.banner-text1 h1{
    font-size: 90px;
    color:  hsl(32, 100%, 58%);
    
}
.banner-text p{
    font-size: 30px;
    color: #fff;
}

.banner-paragrape{
    padding-left: 60%;
    line-height: 150%;
    text-align: right;
    font-size: 20px;
    padding-top: 2%;
    padding-right: 4em;
    color: rgba(0, 0, 0, 0.596);  
}
@media(max-width:700px){
    .banner-text{
        font-size: 20px;
    }
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 2%;

}
.cafe{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0%;
    background-color:  rgba(255, 156, 43, 0.596);
}
.cafe p{
    padding-top: 2%;
    background-color:  rgba(255, 156, 43, 0.596);
    padding-bottom: 2%;
}
.cafe h1{
    padding-top: 2%;
    background-color:  rgba(255, 156, 43, 0.596);
    width: 100%;
    padding-bottom: 20px;
    font-size: 35px;
}
.cafe-col{
    flex-basis: 32%;
    border-radius: 0;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.cafe-col img{
    width: 100%;
    height: 60vh;
    justify-content: space-between;
    background-size: cover;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(34, 34, 34, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
.layer p{
    width: 100%;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover p{
    bottom: 30%;
    opacity: 1;
}
.container{
    width: 100%;
    align-items: center;
    position: absolute;
    text-align: center;
    padding-top: 10px;
}
.panel-body{
    align-items: center;
    padding-left: 20px;
    background: linear-gradient(to right, #2c3e50, #bdc3c7 );
    padding-bottom: 40px;
}
.form-head h1{
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
.button{
    padding-top: 30px;
}
.btn-primary{
    display: block;
    width: 200px;
    height: 20%;
    padding: 10px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px; 
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.form-group {
    align-items: center;
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    width: 70%;
    color: #fff;

}
form input{
    width: 50%;
    height: 30px;
    padding-left: 10px;
    background: #48c8a0 ;    
    color: #000000;
    border-radius: 50px;
    outline: none;
}
.input-section{
    padding-left: 20px;
}
form ::placeholder{
    color: #000000;
}

