.container1 {
  display: flex;
  justify-content: left; 
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid  #FFC301;
  background-clip: padding-box;
  background-color: #FFC301;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
}

.container1 img {
  width: 175px;
  height: 70px;
  padding: 3px;
  border-radius: 7px;
  justify-content: space-between;
  padding-right: 70px;
}
.banner-container{
  padding-top: 0px;

}
.container2 img{
  width: 100%;
  height: 60vh;
  justify-content: center;
}

/* This is styles for the products list*/ 


:root{
  --bodyBack: #ffeaed;
  --textColor: #1b2741;
  --starColor: #f67034;
  --sectionBack: #f7f6f9;
}

.items{
  background-color: #ffffffde;
  min-height: 200vh;
  display: grid;
  padding-left: 1%;
  padding-right: 1%;
  max-width: 100%;
}
.container3{
    width: 100%;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header2{
    width: 99%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #1b2741;
    border-radius: 20px;
    background-clip: padding-box;
    background-color: #1b2741;
}
.header2 h1{
    font-size: 45px;
    text-transform: uppercase;
    color: #FFC301;
}
.products{
    width: 100%;
    align-self: center;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.product{
    position: relative;
    background-color: var(--sectionBack);
    width:250px;
    height: 150%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px;
    border-radius: 10px;
    transition: .3s;
}
.product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 60%;
    display: grid;
    place-content: center;
}
.image img{
    width: 250px;
}
.namePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.namePrice h4{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--starColor);
    text-align: left;

}
.namePrice span{
    font-size: 20px;
    color: var(--starColor);
}
.product p{
    font-size: 15px;
    line-height: 15px;

}

.checked {
  color: orange;
}

.bay1{
    position: absolute;
    bottom: 20px;
    right: 15px;

}
.bay1 button{
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    width: 70px;
    height: 20px;

}
.bay1 button:hover{
    transform: scale(1.1);
}